Source: hybris-usb
Section: net
Priority: optional
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Build-Depends: debhelper (>= 13),
Standards-Version: 4.5.0
Homepage: https://github.com/mickybart/gnulinux_support
Vcs-Git: https://github.com/droidian/hybris-usb.git
Vcs-Browser: https://github.com/droidian/hybris-usb

Package: hybris-usb
Architecture: all
Depends: isc-dhcp-server,
         net-tools,
         ${shlibs:Depends},
         ${misc:Depends}
Description: USB control for Android with hybris
